Microsoft Fabric – Sales & Returns Analytics Pipeline/Sales_Demo_Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"Lakehouse_Demo":{"type":"string"},"Git_Repo_Ls bhanu.murthy":{"type":"string"}},"variables":{},"resources":[{"name":"Sales_Demo_Pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"FileNames","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":1,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"connectionSettings":{"name":"Lakehouse_Demo","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"bc9d720f-e14e-4022-9d64-a9da1b5241f8","artifactId":"[parameters('Lakehouse_Demo')]","rootFolder":"Files"},"externalReferences":{"connection":"07673e2f-0ca9-44ba-a3d7-223ef8d9fbd1"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":"Parameter.json","folderPath":"Parameter_Script"}},"schema":{}}}},{"name":"For_Iterations","type":"ForEach","dependsOn":[{"activity":"FileNames","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('FileNames').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"Sales_Data","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":1,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@item().rel_url","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('Git_Repo_Ls bhanu.murthy')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","fileExtension":".txt"},"datasetSettings":{"annotations":[],"connectionSettings":{"name":"Lakehouse_Demo","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"bc9d720f-e14e-4022-9d64-a9da1b5241f8","artifactId":"[parameters('Lakehouse_Demo')]","rootFolder":"Files"},"externalReferences":{"connection":"07673e2f-0ca9-44ba-a3d7-223ef8d9fbd1"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().sink_file","type":"Expression"},"folderPath":"Sales_Bronze/Raw_Data"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"045a8ef6-4640-45cf-a595-a973e637d329","lastPublishTime":"2025-11-27T12:11:49Z"},"dependsOn":[]}]}